@import '~antd/dist/antd.css';

.flashview .ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  background: white;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.appManager {
  background-color:rgb(240, 244, 245);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.appManager .navStyle {
  height: 44px;
  align-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.appManager .navTitle {
  width: 70px;
  height: 44px;
  line-height: 44px;
  margin: 0px 0px 0px 10px;
  font-size: 17px;
}

.appManager .navIcon {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  justify-content: flex-end;
  margin: 0px 0px 10px 0px;
}

.appManager .navRightIcon {
  display: grid;
  width: 44px;
  align-content: center;
}

.appManager .navRightIcon .anticon {
  display: block;
  line-height: 44px;
  height: 44px;
  font-size: large;
  text-align: center;
}

.appManager .flashview {
  margin: 0px 10px;
  border-radius: 5px;
  overflow: hidden;
  mask-image: -webkit-linear-gradient(white, black);
}

.appManager .fixedApplication {
  margin: 0px 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  mask-image: -webkit-radial-gradient(white, black);
}

.appManager .gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.appManager .gutter-box {
  background: #00a0e9;
}

.appManager .fixedApplicetionItem {
  flex-direction: column;
  display: flex;
  text-align: -webkit-center;
  height: 80px;
}

.appManager .fixedApplicetionImage {
  margin: 10px 0px 8px;
  height: 30px;
  width: 30px;
  min-height: 30px;
}
.appManager .titleFont {
  font-size: 10px;
  max-height: 30px;
  overflow: hidden;
}

.appManager .key-applications {
  margin: 10px 10px 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  align-content: center;
}

.appManager .applicationNav {
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin: 10px 10px 0px;
}

.appManager .applicationNavTitle {
  font-size: 12px;
}

.appManager .lightGray {
  height: 260px;
  margin: -10px 0px 0px;
}
/** 走马灯下面展示修改*/
.appManager .key-applications .ant-carousel .slick-dots {
  position: absolute;
  width: 100%;
  height: 7px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  list-style: none;
}
.appManager .key-applications .ant-carousel .slick-dots li {
  margin:0px 5px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  align-content: center;
  width: 7px;
  height: 7px;
}

.appManager .key-applications .ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background-color: red;
  width: 100%;
  height: 100%;
}

.appManager .key-applications .ant-carousel .slick-dots li button {
  opacity: 1;
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.appManager .key-applications .ant-carousel .slick-dots-bottom {
  bottom: 10px;
}

.appManager .listStyle {
  margin: 10px 10px 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  mask-image: -webkit-radial-gradient(white, black);
}
/* 选择企业 */
.ant-drawer-top.ant-drawer-open, .ant-drawer-bottom.ant-drawer-open {
  margin-top: 42px;
  height: 100%;
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
  margin-top: 42px;
  height: 100%;
  opacity: 0.3;
  animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
/*  */
.selectEnterpriseDiv {
  display: flex;
  font-size: 16px;
}
/* 图片背景 */
.selectEnterpriseImgBackground {
  margin: 0px 10px 0px 0px;
  height: 25px;
  width: 25px;
  background-color: rgb(236, 229, 229);
  border-radius: 5px;
}
/* 图片大小 */
.selectEnterpriseImg {
  margin: 15%;
  height: 70%;
  width: 70%;
}