@import "~antd/dist/antd.css";

#root {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.main .login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .login-content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  padding: 30px;
  position: absolute;
  z-index: 12;
  left: 0;
  top: 0;
}


.main .login-content .head-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58px;
  width: 58px;
}

.main .login-content .slogan {
  display: flex;
  margin-top: 10px;
  color: #444444;
  flex-direction: column;
  font-size: 26px;
}

.main .login-content .input {
  margin-top: 8px;
  height: 34px;
}

.main .login-content .forget{
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-end;
    color: #444444;
    font-size: 11px;
}

.main .login-content .btn-login {
    margin-top: 26px;
    height: 38px;
    font-size: 16px;
}

.main .login-content .bottom-text {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    align-items: flex-end;
    color: #444444;
    font-size: 12px;
}
