.main {
  width: 100%;
  height: 100%;
}

.main .splash-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .splash-content {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center; /*定义body的元素垂直居中*/
  justify-content: center; /*定义body的里的元素水平居中*/
}

.main .splash-content .splash-prompt {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;
  font-family: PingFangSC-Regular, sans-serif;
}

