.ListTitleImage {
  background-color: transparent;
}

.ListTitleImage .sectionTop{
  height: 15px;
}


.ListTitleImage .listSection {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  mask-image: -webkit-linear-gradient(white, black);
}

.ListTitleImage .listHeader {
  height: 30px;
  margin-left: 10px;
  font-size: small;
  display: flex;
  align-items: center;
  color: rgb(109, 106, 106);
}