.TabTitltImage {
  background-color: white;
}

.TabTitltImage .fixedApplicetionItem {
  flex-direction: column;
  display: flex;
  text-align: -webkit-center;
  height: 80px;
}

.TabTitltImage .fixedApplicetionImage {
  margin: 10px 0px 8px;
  height: 30px;
  width: 30px;
  min-height: 30px;
}

.TabTitltImage .fixedApplicetionImageSelect {
  margin: 10px 0px 8px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  min-height: 30px;
}

.TabTitltImage .titleFont {
  font-size: 10px;
  max-height: 30px;
  overflow: hidden;
}

.TabTitltImage .checkIcon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}